/* =============================================================================
   App specific SCSS file.
   ========================================================================== */
@import "./includes/theme";
@import "./includes/bootstrap";
@import "./includes/mixins";
@import "./includes/fonts";

body {
      background-color: map-get($theme-colors, light);
      font-family: 'Nunito Sans', sans-serif;
      color: map-get($theme-colors, dark);
}

.break-word {
      word-wrap: break-word;
}

.btn-my,
.btn-my:visited,
.btn-my:active {
      background: rgb(38, 119, 255);
      background: -moz-linear-gradient(45deg, rgba(38, 119, 255, 1) 0%, rgba(32, 32, 181, 1) 100%);
      background: -webkit-linear-gradient(45deg, rgba(38, 119, 255, 1) 0%, rgba(32, 32, 181, 1) 100%);
      background: linear-gradient(45deg, rgba(38, 119, 255, 1) 0%, rgba(32, 32, 181, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2677ff", endColorstr="#2020b5", GradientType=1);
      border: none;
}
.gradient-my-50{
      background: rgb(38, 119, 255);
      background: -moz-linear-gradient(45deg, rgba(38, 119, 255, 0.5) 0%, rgba(32, 32, 181, 0.5) 100%);
      background: -webkit-linear-gradient(45deg, rgba(38, 119, 255, 0.5) 0%, rgba(32, 32, 181, 0.5) 100%);
      background: linear-gradient(45deg, rgba(38, 119, 255, 0.5) 0%, rgba(32, 32, 181, 0.5) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2677ff", endColorstr="#2020b5", GradientType=1);
      border: none
}

.btn-my-outline,
.btn-my-outline:visited,
.btn-my-outline:active {
      background-color: rgb(255, 255, 255);
      border-color: map-get($theme-colors, $primary);
      border-width: 1px;
      border: solid;
}

.divider {
      height: 4px;
      width: 95%;
      border-radius: 2px;
      background: rgb(38, 119, 255);
      background: -moz-linear-gradient(45deg, rgba(38, 119, 255, 1) 0%, rgba(32, 32, 181, 1) 100%);
      background: -webkit-linear-gradient(45deg, rgba(38, 119, 255, 1) 0%, rgba(32, 32, 181, 1) 100%);
      background: linear-gradient(45deg, rgba(38, 119, 255, 1) 0%, rgba(32, 32, 181, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2677ff", endColorstr="#2020b5", GradientType=1);
}

.container-my {
      width: 100vw;
      padding-left: 1rem;
      padding-right: 1rem;
}

@include respond-above(md) {
      .container-my {
            width: 992px;
      }
}

.pl-hero {
      margin: auto;
}

@include respond-above(md) {
      .pl-hero {
            margin-left: calc((100vw - 992px)/2);
      }
}

.pr-donate {
      padding-right: 2rem;
}

@include respond-above(md) {
      .pr-donate {
            padding-right: calc(((100vw - 992px)/2) + 2rem);
      }
}

.pl-donate {
      padding-left: 2rem;
}

.overflow-x-hidden {
      overflow-x: hidden;
}

.faq-card {
      background: rgb(38, 119, 255);
      background: -moz-linear-gradient(45deg, rgba(38, 119, 255, 1) 0%, rgba(32, 32, 181, 1) 100%);
      background: -webkit-linear-gradient(45deg, rgba(38, 119, 255, 1) 0%, rgba(32, 32, 181, 1) 100%);
      background: linear-gradient(45deg, rgba(38, 119, 255, 1) 0%, rgba(32, 32, 181, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2677ff", endColorstr="#2020b5", GradientType=1);
      border-radius: 6px;
}

.card-header {
      background: rgb(38, 119, 255);
      background: -moz-linear-gradient(45deg, rgba(38, 119, 255, 1) 0%, rgba(32, 32, 181, 1) 100%);
      background: -webkit-linear-gradient(45deg, rgba(38, 119, 255, 1) 0%, rgba(32, 32, 181, 1) 100%);
      background: linear-gradient(45deg, rgba(38, 119, 255, 1) 0%, rgba(32, 32, 181, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2677ff", endColorstr="#2020b5", GradientType=1);
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
}

.card-body {
      border-width: 0px 4px 4px 4px;
      border-style: solid;
      border-color: rgb(38, 119, 255);
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
}

.icon {
      width: 6rem;
}

.icon-2 {
      width: 3rem;
}

.icon-3 {
      width: 2.2rem;
}

.icon-4 {
      height: 1.7rem;
      width: auto
}

.bg-donate {
      background: rgb(38, 119, 255);
      background: -moz-linear-gradient(45deg, rgba(38, 119, 255, 1) 0%, rgba(32, 32, 181, 1) 100%);
      background: -webkit-linear-gradient(45deg, rgba(38, 119, 255, 1) 0%, rgba(32, 32, 181, 1) 100%);
      background: linear-gradient(45deg, rgba(38, 119, 255, 1) 0%, rgba(32, 32, 181, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2677ff", endColorstr="#2020b5", GradientType=1);
      border-radius: 0px 8px 8px 0px;
}

.margin-cup {
      bottom: -4rem;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
}

@include respond-above(md) {
      .margin-cup {
            bottom: 0rem;
      }
}

.bg-footer {
      background: rgb(38, 119, 255);
      background: -moz-linear-gradient(45deg, rgba(38, 119, 255, 1) 0%, rgba(32, 32, 181, 1) 100%);
      background: -webkit-linear-gradient(45deg, rgba(38, 119, 255, 1) 0%, rgba(32, 32, 181, 1) 100%);
      background: linear-gradient(45deg, rgba(38, 119, 255, 1) 0%, rgba(32, 32, 181, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2677ff", endColorstr="#2020b5", GradientType=1);
}

.cup-svg {
      width: 10rem;
}

@include respond-above(md) {
      .cup-svg {
            width: 15rem;
      }
}

.text-area {
      border-width: 2px;
      border-radius: 0.6rem;
      border-color: map-get($theme-colors, primary);
      line-height: 1.5;
      min-height: 200px;
}

.paper {
      @include box-shadow(0 1rem 4rem -0.25rem rgba(map-get($theme-colors, dark), 0.2));
      @include transform(translate(0, 0));
      @include transition(all 0.15s ease-out);
}

.btn-my-shadow {
      @include box-shadow(0 0 0 0 rgba(map-get($theme-colors, primary), 0));
      @include transform(translate(0, 0));
      @include transition(all 0.15s ease-out);
}

.btn-my-shadow:hover {
      @include box-shadow(0 1rem 2rem -0.25rem rgba(map-get($theme-colors, primary), 0.5));
      @include transform(translate(0, -0.35rem));
}

.btn-light-shadow {
      @include box-shadow(0 0 0 0 rgba(map-get($theme-colors, light), 0));
      @include transform(translate(0, 0));
      @include transition(all 0.15s ease-out);
}

.btn-light-shadow:hover {
      @include box-shadow(0 1rem 2rem -0.25rem rgba(map-get($theme-colors, light), 0.25));
      @include transform(translate(0, -0.35rem));
}

.logo {
      width: 8rem;
}

@include respond-above(md) {
      .logo {
            width: 10rem;
      }
}

.icon-phone {
      height: 10rem;
}

@include respond-above(sm) {
      .icon-phone {
            height: 13rem;
      }
}

@include respond-above(md) {
      .icon-phone {
            height: 16rem;
      }
}

.font-secondary {
      font-family: 'Overpass Mono';
}

.grow {
      @include transform(scale(1));
      @include transition(all 0.15s ease-out);
}

.grow:hover {
      @include transform(scale(1.1));
      @include transition(all 0.15s ease-out);
}

.grow-2 {
      @include transform(scale(1));
      @include transition(all 0.15s ease-out);
}

.grow-2:hover {
      @include transform(scale(1.2));
      @include transition(all 0.15s ease-out);
}

.vue-notification {
      padding: 10px;
      margin: 5px 5px;
      font-size: 1rem;
      color: #ffffff;
      background: map-get($theme-colors, $primary);
      border-left: 5px solid #187FE7;

      &.warn {
            background: #ffb648;
            border-left-color: #f48a06;
      }

      &.error {
            background: #E54D42;
            border-left-color: #B82E24;
      }

      &.success {
            background: #68CD86;
            border-left-color: #42A85F;
      }
}

h1 {
      font-size: 1.9rem;
}

@include respond-above(md) {
      h1 {
            font-size: 2.2rem;
      }
}

h2 {
      font-size: 1.7rem;
}

@include respond-above(md) {
      h2 {
            font-size: 2rem;
      }
}

h3 {
      font-size: 1.5rem;
}

@include respond-above(md) {
      h3 {
            font-size: 1.8rem;
      }
}

.btn-text-redeem {
      font-size: calc(0.5rem + 2vw);
}

@include respond-above(sm) {
      .btn-text-redeem {
            font-size: 1.2rem;
      }
}

.btn-download {
      width: 45%;
}

@include respond-above(sm) {
      .btn-download {
            width: auto;
      }
}

a:link,
a:visited,
a:hover,
a:active {
      color: white;
}

.custom-image-container {
      position: relative;
      overflow: hidden;
      width: 100%;
}

.custom-image {
      position: absolute;
      z-index: -1000;
}

.align-to-top{
      top: 0;
      bottom: auto;
      margin-top: 0;
      margin-bottom: auto;
}

.align-to-bottom{
      bottom: 0;
      top: auto;
      margin-bottom: 0;
      margin-top: auto;
}

.align-to-center-vertical{
      bottom: 0;
      top: 0;
      margin-bottom: auto;
      margin-top: auto;
}

.align-to-left{
      left: 0;
      right: auto;
      margin-left: 0;
      margin-right: auto;
}

.align-to-right{
      right: 0;
      left: auto;
      margin-right: 0;
      margin-left: auto;
}

.align-to-center-horizontal{
      right: -9999px;
      left: -9999px;
      margin-right: auto;
      margin-left: auto;
}

.fit-to-width{
      width: 99.75%;
      height: auto;
}

.fit-to-height{
      height: 99.75%;
      width: auto;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label{
      cursor: pointer;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.z-1000{
      z-index: 1000;
}

.icon-small{
      width: 1.25rem;
      height: 1.25rem;
}

.op-50{
      opacity: 0.5;
}

.rounded-1{
      border-radius: 0.5rem;
}

.rounded-0{
      border-radius: 0rem;
}

.rounded-1-left{
      border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.rounded-1-right{
      border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.make-your-own-section{
      border: solid 2px rgba(map-get($theme-colors, primary), 1);
      border-radius: 0.6rem;
}

.border-1-primary{
      border: solid 1px rgba(map-get($theme-colors, primary), 1);
}

.c-blue{
      background-color: rgba(32, 32, 181, 1);
}

.c-black{
      background-color:black;
}

.c-green{
      background-color:rgba(3, 94, 94, 1);
}

.c-purple{
      background-color:rgba(93, 50, 214, 1);
}

.c-orange{
      background-color:rgba(237, 100, 53, 1);
}

.op-75{
      opacity: 0.75;
}