/*! Colors START */
$white: #FFFFFF;
$dark-grey: #36363C;
$black: #000000;
$blue: #2677FF;
$whiteish: #E9ECF2;

$paperwallet-text-A: #2677FF;
$paperwallet-text-B: #FF6C08;
$paperwallet-text-C: #02B799;
$paperwallet-text-D: #000000;
/*! Colors END */

/*! Color Variables START */
$theme-colors: (
  "primary": $blue,
  "secondary": $white,
  "info": $white,
  "dark": $dark-grey,
  "success": $white,
  "light": $white,
  "danger": $white
); /*! Color Variables END */

/*! Fonts START */
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-w300.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-w400.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-w600.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-w700.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-w800.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-w300.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Overpass Mono";
  src: url("../assets/fonts/OverpassMono-w600.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Overpass Mono";
  src: url("../assets/fonts/OverpassMono-w700.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 700;
  font-style: normal;
}