<!DOCTYPE html>
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">
    <title>Nano Paper Wallet</title>

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
    <div id="app"></div>

    <!-- JavaScript at the bottom for fast page loading -->
    {{ javascript_tag('app_js') | safe }}
    <!-- end scripts -->
</body>

</html>